
@import "style.css";

body{
    padding-top:0;
    padding-left:0;
    padding-bottom:1em;
}

code{font-size:1.1em;}

/* ================ Site layout ================ */
html{height:100%;}

body{
    display:flex;
    flex-direction:column;
    height:100%;
}

/* container and footer = direct children of body */
.container{
   flex:1 0 auto;
   display:flex;   
   flex-flow:row wrap;
}
/* in the html, write .left sidebar after .main area */
.container :nth-child(2) { order: 1; }
.container :nth-child(1) { order: 2; }

/* left and main = direct children of container */
.left{
    flex:1 1 15%;
}
.main{
    flex:1 1 85%;
}

/* ================ Design ================ */
.main{
    padding:1rem .5rem 1rem 1rem;
}

h1{
    margin-top:2rem;
    margin-bottom:2rem;
}

.left{
    padding-top:2rem;
    border-left:1px solid grey;
    background:lightgoldenrodyellow;
    font-size:.9rem;
    border-right:1px solid grey;
}
.left ul{
    padding-left:1rem;
}
.left>ul{
    padding-left:0.5rem;
}
.left>ul>li{
    padding-bottom:0.3rem;
}

.toc{
    margin-bottom:1em;
}
