
/* ================ General styles ================ */
body{
    margin:0;
    padding:0.5rem;
    background:#eee;
    font-family:Arial,Helvetica,sans-serif;
}

a{text-decoration:none;}

pre{margin:1rem 2rem; background:lightgrey; font-size:1rem; padding:0.5rem;}
pre.normal{background:none;}
code.color{background:lightgrey;}
.pre{white-space:pre;}

img{display: block; background:white;}
img.center{border:none;margin:auto;}

ul.spaced li,ol.spaced li{padding-bottom:0.8rem;}
ul.naked li,ol.naked li{list-style-type:none;}

table.border{border-collapse:collapse;}
table.border td{border: 1px solid #a2a9b1;}

cite{
    display:block;
    margin:1rem;
}

blockquote{
    display:block;
    border:1px solid grey;
    padding:5px;
    margin:1rem;
    font-family:DejaVu,serif;
    background:#fee;
}

/* ================ Site layout ================ */
.flex-wrap{
    display:flex;
    flex-wrap:wrap;
}

/* ================ Headings ================ */
h1{
    width:100%;
    margin:auto;
    text-align:center;
    font-size:2.5rem;
    font-weight:bold;
    padding:0.3rem;
    margin-bottom:1rem;
}
h1 .subtitle{font-size:0.8em;}
h2{font-size:2rem;}
h3{font-size:1.5rem;}


/* ================ Navigation ================ */

.prevnext{
    font-family:DejaVu,serif;
    position: fixed; top:0px; right:0px;
    margin:1rem;
    width:75px; height:40px
}
.prevnext a{
    display:inline-block;
    position:fixed;
    width:40px; height:40px;
    text-decoration:none;
    font-weight:bolder;
    font-size:2rem;
}
.prevnext a.index{top:0px; right:10px; font-size:0.5rem;}
.prevnext a.top{top:0px; right:40px;}
.prevnext a.prev{top:25px; right:75px;}
.prevnext a.next{top:25px; right:5px;}

/* table of content */
.toc{font-family:Arial,Helvetica,sans-serif;}
.toc ul{list-style-type:none;}
.toc{padding:0;}
.toc>ul>li>a{font-weight:bold;}


/* ================ Particular elements ================ */

.warning{
    width:50%;
    padding:.5rem;
    margin:.5rem;
    background:gold;
    border:1px solid grey;
}

.intro{
    font-size:1.4rem;
    margin:1rem 0 1rem 2rem;
}

.exo{
    font-size:1rem;
    border:1px solid grey;
    padding:0.6rem 1rem;;
    background:lightyellow;
    margin:1rem;
}
.exo ul{margin:0;}

table.wikitable{
    border-collapse:collapse;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
    /* background-color: #eaecf0; */
    background-color: lightblue;
    text-align: center;
    vertical-align:top;
}
table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2rem 0.4rem;
    vertical-align:top;
}
table.wikitable tr td code{
    background:none;
}


/* ================ Style shortcuts ================ */

.inline-block{display:inline-block;}
.block{display:block;}

.arial{font-family:Arial,Helvetica,sans-serif;}
.courier{font-family:"Courier New",Courier,monospace;}
.dejavu{font-family:DejaVu,serif;}

.center{text-align:center;}

.border{border:1px solid grey;}

.margin{margin:1rem;}
.margin2{margin:2rem;}
.margin-top{margin-top:1em;}
.margin-left{margin-left:1em;}

.padding{padding:1rem;}
.padding2{padding:2rem;}
.padding-top{padding-top:1em;}
.padding-left{padding-left:1em;}

.big1{font-size:1.1rem;}
.big2{font-size:1.2rem;}
.big3{font-size:1.3rem;}
.big4{font-size:1.4rem;}
.big20{font-size:2rem;}
.big30{font-size:3rem;}
.big40{font-size:4rem;}

.small9{font-size:.9rem;}
.small8{font-size:.8rem;}
.small7{font-size:.7rem;}
.small6{font-size:.6rem;}
