#   
# File used by code located in manage/
#     

# ---------------------------------------------------------------------------------------------------
# DB connection
# ---------------------------------------------------------------------------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=g5_pg_username
DB_PASSWORD=g5_pg_password
DB_DBNAME=g5_pg_dbname
DB_SCHEMA=g5_pg_schema

# ---------------------------------------------------------------------------------------------------
# Backup database
# ---------------------------------------------------------------------------------------------------
PGDUMP_CMD=pg_dump
PGDUMP_DIR=/path/to/dir/containing/dbdumps
