#
# Configuration directives used to correct Gauquelin data (5th edition) from cura.free.fr
#

# Directories where the files are stored
dirs:
  1-cura-raw:               data/1-cura-raw
  2-cura-exported:          data/2-cura-exported
  3-cura-marked:            data/3-cura-marked
  4-1955-generated:         data/4-1955-generated
  5-1955-cura-corrected:    data/5-1955-cura-corrected
  9-1955-final:             data/9-1955-final
  9-cura-final:             data/9-cura-final

# Should the program try to match birth places with geonames.org data ?
# Possible values : true or false
geonames: true

# postgresql parameters - used only if geonames = true
postgresql: 
  dbhost: localhost
  dbport: 5432
  dbuser: pg_username
  dbpassword: pg_password
  dbname: pg_dbname

#
# Settings specific to step raw2exported
#
raw2exported:
  
  # Possible values : full or small
  report:
    A1: small
    A2: small
    A3: small
    A4: small
    A5: small
    A6: small
  
  # Should the result include columns
  # containing planetary sectors ?
  # Possible values : true or false
  add-planetary-sectors:
    E1: true
    E3: true
    
#
# Settings specific to 1955 groups
#
1955:
  
  # Sorting used in generated csv files
  # used by Serie1955::marked21955()
  sort: 
    576MED: NAME
    508MED: NAME
    570SPO: NUM
    676MIL: NAME
    906PEI: NAME
    361PEI: NAME
    500ACT: NAME
    494DEP: NAME
    349SCI: NAME
    884PRE: NAME
  
