#
# Configuration for https://github.com/tig12/gauquelin5
#

# Directories where unversioned data files are stored
# Versioned data directories are initialized in app/Config.php
# Absolute paths or paths relative to gauquelin5 root directory
dirs:
  output: data/output
  tmp:    data/tmp
  # Auxiliary files - versioned in another git repository
  aux:    /path/to/g5-aux
  # Path to local opengauquelin.org (temporary hack)
  # Used to generate assets used by opengauquelin.org
  # Not used to generate the database
  opengauquelin.org: /path/to/openg

# g5 database
db5:
  postgresql: 
    dbhost: localhost
    dbport: 5432
    dbuser: pg_username
    dbpassword: pg_password
    dbname: pg_dbname
    schema: pg_schema
  # used by openg program (opengauquelin.org) to access the database through postgrest
  # This setting is included in current config because
  # it permits to grant read privilege on tables in command/db/build/dbcreate.php
  postgrest:
    user: web_anon


# geoname.org parameters
# only useful for the steps which call geonames.org web service
# see http://www.geonames.org/login
# and http://www.geonames.org/manageaccount
geonames:
  # User name used to call geonames web service
  # (you must change, 'demo' doesn't work)
  username: demo

  # postgresql parameters
  # only useful for the steps which use geonames.org data stored in a local database 
  postgresql: 
    dbhost: localhost
    dbport: 5432
    dbuser: pg_username
    dbpassword: pg_password
    dbname: pg_dbname
    
    